<div class="container">
  <div class="content">
    <div class="header">
      <p class="title">The easiest way to manage projects</p>
      <p class="description">
        From the small stuff to the big picture, organizes the work so teams
        know what to do, why it matters, and how to get it done.
      </p>
    </div>
    <div class="start-watch-buttons">
      <button
        mat-flat-button
        color="primary"
        style="
          font-family: 'Inter';
          font-weight: 600;
          height: 56px;
          width: 138px;
        "
      >
        Get Started
      </button>
      <button
        mat-flat-button
        color="accent"
        style="
          color: #7c3aed;
          font-family: 'Inter';
          font-weight: 600;
          height: 56px;
          width: 179px;
        "
      >
        <mat-icon
          aria-hidden="false"
          aria-label="play icon"
          fontIcon="play_circle_outline"
        ></mat-icon>
        Watch Video
      </button>
    </div>
  </div>
  <img src="../../../assets/Phone.svg" alt="" />
</div>
