<div class="bg">
  <div class="container">
    <div class="left-section">
      <img src="../../assets/Logomark.svg" alt="" class="logo-mark" />
      <div class="link-group">
        <p class="footer">Download Now</p>
        <p class="footer">License</p>
      </div>
      <div class="link-group">
        <p class="footer">About</p>
        <p class="footer">Features</p>
        <p class="footer">Pricing</p>
        <p class="footer">News</p>
        <p class="footer">Help</p>
        <p class="footer">Contact</p>
      </div>
      <p class="copyright">© 2021 Landify UI Kit. All rights reserved</p>
    </div>
    <div class="right-section">
      <img src="../../assets/Logomark.svg" alt="" class="logo-mark" />
      <div class="link-group">
        <p class="footer">Contáctanos</p>
      </div>
      <div class="link-group">
        <p class="footer">Whatsapps</p>
        <p class="footer">978 566 567</p>
        <p class="footer">967 567 565</p>
      </div>
      <p class="copyright">© 2021 Landify UI Kit. All rights reserved</p>
    </div>
    <div class="download-badges">
      <p class="title">Get the App</p>
      <img src="../../assets/AppStore.svg" alt="" class="store-link" />
      <img src="../../assets/PlayStore.svg" alt="" class="store-link" />
    </div>
  </div>
</div>
