.login-portrait
    width: 50%

.container
    display: flex
    font-family: Roboto
    .login-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 50%
    form
        display: flex
        flex-direction: column
        min-width: 360px
        .welcome
            font-weight: 400
            font-size: 16px
            line-height: 19px
            color: #2D3748
            margin-bottom: 2px
        .login-title
            font-weight: 700
            font-size: 30px
            line-height: 35px
            color: #1A202C
            margin-bottom: 20.5px
        .forgot-password
            font-weight: 400
            font-size: 14px
            line-height: 16px
            color: #2C5282
            text-align: end
            margin-bottom: 25px
        .remember-mail
            font-weight: 400
            font-size: 14px
            line-height: 16px
            left: -10px
            margin-bottom: 60px
        button
            margin-bottom: 15px
