.bg-container
    position: relative
    width: 75%
    margin: 0 auto
    height: 100%
    overflow: hidden

.purple-circle
    position: absolute
    width: 406px
    height: 406px
    background: #7C3AED
    opacity: 0.6
    left: 1087px
    top: -37px
    border-radius: 50%

.background
    position: absolute
    width: 100%
    background: rgba(242, 247, 255, 0.7)
    width: 1440px
    height: 752px
    backdrop-filter: blur(50px)
    padding: 0px 112px
    height: 100%
    z-index: 1

.turquoise-circle
    position: absolute
    background: #1DB5BE
    opacity: 0.6
    width: 168px
    height: 168px
    left: 829px
    top: 464px

.right-band-1
    position: absolute
    width: 420px
    height: 116.52px
    left: 988px
    top: 448px
    z-index: 1

.right-band-2
    position: absolute
    width: 612px
    height: 140.81px
    left: 828px
    top: 508px
    z-index: 1

.right-band-3
    position: absolute
    width: 420px
    height: 116.52px
    left: 1145px
    top: 541.49px
    z-index: 1

.left-band-1
    position: absolute
    width: 420px
    height: 116.52px
    left: -5px
    top: 635.5px
    z-index: 1

.left-band-2
    position: absolute
    width: 420px
    height: 116.52px
    left: -80px
    top: 718.49px
    z-index: 1
