<div *ngIf="posts.length === 0" class="no-posts-container">
  <p class="no-posts-title">Aún no tienes posts</p>
  <button
    mat-flat-button
    color="primary"
    style="font-family: 'Inter'; font-weight: 600; font-size: 14px"
    (click)="openDialog()"
    class="create-post-button"
  >
    Crear un post
  </button>
</div>
<div *ngIf="posts.length > 0" class="posts-container">
  <div class="posts-content">
    <div *ngFor="let post of posts" class="posts-data">
      <p class="posts-title">{{ post.title }}</p>
      <p class="posts-body">{{ post.body }}</p>
    </div>
  </div>
  <button
    mat-flat-button
    color="primary"
    style="
      font-family: 'Inter';
      font-weight: 600;
      font-size: 14px;
      margin-right: 20px;
    "
    (click)="openDialog()"
    class="create-post-button"
  >
    Crear un post
  </button>
</div>
